<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Battleship_(game)" target="_blank">
          <span class="glyphicon glyphicon-info-sign"></span> How Battleship Works</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right"><a href="/game"><span class="glyphicon glyphicon-plus"></span> PLAY!</a></li>
    </ul>
  </div>
</nav>
